html, body{
  height: 100%;
}
body{
	background-image: url('fundo2.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 100;
	
}
a{
color: black;
text-decoration: none;

}
.btn-cadastrar{
	margin-top: 30px;
	text-align: left 30px; 
	font-family: cursive;
	
}

.formulario{
	text-align: center;
	width: 400px; 
	margin: 80px auto 0 auto; 
	padding:30px;
	border: 20px;
	border-radius: 30px;
	background-color: rgba(136, 183, 186, .7);
	box-shadow: 0 0 3px 8px rgba(157,150,160,.7);

}
h1{
	color:#ddd1cc;
	font-size: 50px;
    font-family: Snap ITC ;	
}

#meio{
	background-color:#ffff;
	width: 400px; 
	height: 150px;
}

#botaologin{
	position: relative;
	font-family: cursive;
}
#botao2{
	width: 400px;  
	left: 890px;
	position: relative;
	font-family: cursive;
}
input{
text-align: center;

}
#esqueci{

position:static;
font-family: cursive;


}
#guardar{
	right: 200px;
	position: static;
	font-family: cursive;
}
#corpo{
	background-image: url('bookshelf.jpg');
}
.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}
.form-group{
	font-family: cursive;
}
.container{
	font-family: cursive;
}
.modal-header{
	font-family: cursive;
	font-size: 20px;
	text-align: center;
}